@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: black;
  }

  body {
    @apply bg-gradient-to-b from-yellow-900 to-black;
  }

  body:before {
    z-index: 999;
    position: fixed;
    content: "";
    height: 300%;
    width: 300%;
    top: -100%;
    left: -50%;
    pointer-events: none;
    user-select: none;
    background-image: url("/images/noice.png");
    opacity: 0.015;
    animation: noise 8s steps(10) infinite;
  }
}

@keyframes noise {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-4.20000069%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7.41%, -25%);
  }
  40% {
    transform: translate(-4.20000069%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@font-face {
  font-family: "n27";
  src: url("../public/fonts/n27/n27-regular-webfont.eot");
  src: url("../public/fonts/n27/n27-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/n27/n27-regular-webfont.woff2") format("woff2"),
    url("../public/fonts/n27/n27-regular-webfont.woff") format("woff"),
    url("../public/fonts/n27/n27-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
